In [7]:
# step 1: import the required libraries 
import pandas as pd



**WORLD** **POPULATION**

In [8]:
# step 1: import the required libraries 
import pandas as pd

# step 2: load the URL for world population on wikipedia 
url = "https://en.wikipedia.org/wiki/World_population"

try:
    # step 3: Read the HTML tables from the URL with additional parameters
    tables = pd.read_html(url, flavor='html5lib')  # Try using html5lib parser
    
    # step 4: check the number of tables 
    print(f"Number of tables found: {len(tables)}") 
    
    if len(tables) > 0:
        # step 5: Display the first few rows of the first table
        print(tables[0].head())
    else:
        print("No tables found on the page.")
        
except Exception as e:
    print(f"An error occurred: {e}")
    print("Trying alternative approach with requests and BeautifulSoup...")
    
    # Alternative approach using requests and BeautifulSoup
    try:
        import requests
        from bs4 import BeautifulSoup
        
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        tables = pd.read_html(str(soup.find_all('table')))
        
        print(f"Number of tables found: {len(tables)}") 
        if len(tables) > 0:
            print(tables[0].head())
            
    except Exception as e2:
        print(f"Failed with alternative approach: {e2}")
        print("Please check your internet connection or try again later.")

Number of tables found: 27
      Population         1     2     3     4     5     6     7     8     9  \
0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

     10
0  2057
1    20

In [9]:
# !pip install html5lib -q

In [10]:
%pip install lxml

# step 1: import the required libraries 
import pandas as pd
# step 2: load the URL for world population on wikipedia 
url = "https://en.wikipedia.org/wiki/World_population"
# step 3: Read the HTML tables from the URL 
tables = pd.read_html(url) 
# step 4: check the number of tables 
print(f"Number of tables found: {len(tables)}") 
# step 5: Display the first few rows of the first table
tables[0].head()

Requirement already satisfied: lxml in c:\users\hp\miniconda3\envs\web_env\lib\site-packages (5.4.0)
Note: you may need to restart the kernel to use updated packages.
Number of tables found: 27

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [ ]:
https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)

**List of countries by GDP (nominal)**

In [12]:
# step 1: import the required libraries 
import pandas as pd
# step 2: load the URL for world population on wikipedia 
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
# step 3: Read the HTML tables from the URL 
tables = pd.read_html(url) 
# step 4: check the number of tables 
print(f"Number of tables found: {len(tables)}") 
# step 5: Display the first few rows of the first table
tables[0].head()

Number of tables found: 7

                                                   0
0  Largest economies in the world by GDP (nominal...

In [13]:
tables[1].head()

,0,1,2
0,> $20 trillion $10–20 trillion $5–10 trillion ...,$750 billion – $1 trillion $500–750 billion $2...,$50–100 billion $25–50 billion $5–25 billion <...

In [14]:
tables[5].head()

,vteEconomic classification of countries,vteEconomic classification of countries.1
0,Developed country Developing country Heavily i...,Developed country Developing country Heavily i...
1,Three/Four-World Model,First World Second World Third World Fourth World
2,Gross domestic product (GDP),Nominal By country past and projected per capi...
3,Nominal,By country past and projected per capita per c...
4,Purchasing power parity (PPP),By country future estimates per capita per cap...

In [16]:
tables[6].head()

,0,1
0,Nominal,By country past and projected per capita per c...
1,Purchasing power parity (PPP),By country future estimates per capita per cap...